php_value date.timezone "Europe/Kiev"
AddDefaultCharset utf-8
AddType text/cache-manifest .cache

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php?route=/$1 [QSA,L]
</IfModule>
 
<IfModule !mod_rewrite.c>
  ErrorDocument 404 /index.php
</IfModule>

<IfModule mod_rewrite.c>
  Header add Access-Control-Allow-Origin "*"
</IfModule>
